<main class="container">
    <div class="row">
        <table class="striped responsive-table col s12 m12 l12 xl12">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Qtd. p/dia</th>
                    <th>Qtd. Estoque</th>
                    <th>Contém p/quantos dias</th>
                </tr>
            </thead>
            <tbody>
                <tr [routerLink]="['/cadastro', remedio._id]" *ngFor="let remedio of remedios">
                    <td>{{remedio.nome}}</td>
                    <td>{{remedio.qtdpdia}}</td>
                    <td>{{remedio.qtdestoque}}</td>
                    <td [class.color]="remedio.contempquantosdias < 15">{{remedio.contempquantosdias}}</td>
                </tr>
            </tbody>
        </table>
        <button routerLink="/cadastro" class="waves-effect waves-light btn">Novo</button>
    </div>
</main>